body {
  background-color: whitesmoke !important;
}

.actions {
  background-color: #252525;
  color: white;
  padding: 1rem;
}

h1 {
  font-size: 1.7rem;
  color: white;
}

.temp {
  font-size: 2.5rem;
  color: white;
}

.current-weather {
  background-color: #252525;
  color: rgba(255, 255, 255, 0.85);
}

.dot {
  color: #4dbd51;
}

.current-more-info {
  background-color: #4dbd51;
  color: white;
  font-size: 1.5rem;
}

